- if @user.galleries.present?
  .large-12.columns.panel
    %h3.small.subheader Galleries
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid.4
      - @user.galleries.each do |gallery|
        %li
          = image_tag Photo.first.image.url(:thumb), class: "th gallery_photo"
          %h5
            = link_to gallery.title, gallery_path(gallery)
