%h1= "Home Page"
-# .user_nav
-#   - if user_signed_in?
-#     %li
-#       = link_to "Sign out", destroy_user_session_path, :method => :delete
-#       = link_to "My Profile", profile_path
-#   - else
-#     %li
-#       = link_to "Sign up", new_user_registration_path
-#     %p
-#       = "or"
-#     %li
-#       = link_to "Sign in", new_user_session_path
